body {
	height:100%;
	width:100%;
	font-family: sans-serif;
}

canvas {
	height:100%;
	width:100%;
}

#exit {
	vertical-align: top;
	text-align: center;
	margin: 100px;
	padding: 50px;
	background-color: green;
	color: white;
	font-weight: bold;
	position: fixed;
	left: 0;
}